<section class="vh-100 bg-image mt-4"
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              
              <div class="text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                  style="width: 80px;" alt="logo">
                <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
              </div>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

                <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label" for="email">
                        Email Address
                      </label>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"form-control", id:"email"%>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="password">
                    Password
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                  </label>
                  <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"password" %>
                </div>


                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="password-confirmation">
                    Password Confirmation
                  </label>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"password-confirmation" %>
                </div>

                <div class="text-center pt-1 mb-5 pb-1">
                  <%= f.submit "Update", class: "btn btn-primary btn-block fa-lg gradient-custom-2 mb-3", style: "width: 100%; margin-bottom: 3px;" %>
                </div>
              <% end %>

              <%= link_to :back, class: "btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 width: 100%; margin-bottom: 3px;", "data-mdb-button-init": true, "data-mdb-ripple-init": true do %>
                Back
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
